{% extends "layout/index.html" %}
{% load static %}

{% block title %}@{{ account_dict.username }} Easy backlinking images{% endblock title %}

{% block jumbotron %}
{% include 'accounts/entries/_user_header.html' %}
{% endblock %}

{% block content %}
<div>
    {% include 'accounts/entries/_backlink_filter.html' %}

    <table class="CSEntriesList table table-striped" data-ax-load-account-posts-url="{% url 'accounts:ax_load_posts_images' %}?username={{ account_dict.username }}">

    {% include 'accounts/entries/_images_backlink_list.html' %}
    </table>

    <div class="text-center">
        <a href="#" class="CSLoadPostsButtom btn btn-info enabledLoad">Load more posts</a>
    </div>

    <div class="CSAccountLoadPostsSpinner text-center" style="display:none;">
        <i class="fa fa-spinner fa-pulse fa-fw fa-2x" aria-hidden="true"></i>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/accounts/load_posts.js' %}"></script>
<script src="{% static 'js/accounts/posts_filter_form.js' %}"></script>
{% endblock %}
