{% extends "layout/index.html" %}
{% load static %}

{% block title %}Algorithm and Web Training{% endblock title %}

{% block jumbotron %}
{% endblock %}


{% block content %}

<div class='row'>

<div class="container col-md-6 pull-left"> 
<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
<div class="coinmarketcap-currency-widget" data-currency="steem-dollars" data-base="USD"  data-secondary="STEEM"></div>
</div>


<div class="container col-md-6 pull-right">
<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
<div class="coinmarketcap-currency-widget" data-currency="steem" data-base="USD"  data-secondary="BTC"></div>
</div></div>

<br><br>

<p>
The following entries are the Free Code Camp basic algorithm scripts that I have developed as part of my training.  By right clicking on any of these you can view the source, and get help with your Free Code Camp training.
</p>
<br><br>

<div class='row'>
<form class="container col-md-6 pull-left" id=reverseString>
    <input class="container col-md-6 pull-left" type="text" name="str" placeholder="Any String">
		

		<button type="submit">Reverse it!</button>
</form>

	<p class="container col-md-6 pull-right" id=nonsense></p>

</div>


{% endblock %}
{% block js %}
<script>


function reverseString(str) {
 			var array = str.split('');
  			var reversedArray = array.reverse();
  			var nonsense = reversedArray.join('');
    		return nonsense; }

$(function () {

	$('#reverseString').on('submit', function () {
		var str = $('#reverseString input').val();
		var str_reversed = reverseString(str);
		$('#nonsense').text(str_reversed);

		return false;
	});
});

</script>
{% endblock %}

