.CSHeaderAt {
    color: white;
    font-size: 30px;
}

.CSEntriesList {
    list-style: none;
}
.CSEntryListItem {
    padding: 20px;
    margin-bottom: 10px;
}

.CSEntryListItem p {
    margin-bottom: 1px;
}

.CSEntryListItemMain {
    margin-bottom: 10px;
}

.CSProfileImage {
    max-width: 130px;
    max-height: auto;
    display: block;
    margin: auto;
}

.CSAccountDetail p {
    margin-bottom: 1px;
}
