<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Coffee Source">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}{% endblock title %} | Coffee Source</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Coffee Source</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <!-- Space to add main menu using next format -->
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->
        </ul>
        <form action="{% url 'accounts:username_search_form' %}" method="post" class="form-inline my-2 my-lg-0">
          {% csrf_token %}

          <span class="CSHeaderAt">@</spa><input class="form-control mr-sm-2" type="text" required placeholder="Search Steem Username" aria-label="Search" name="cs_username_search">

          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main">
      {% block content %}{% endblock content %}
    </main>

    <footer class="container">
      <p>&copy; Coffee Source</p>
    </footer>

    <script src="{% static 'js/libs/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/libs/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
  </body>
</html>

<!DOCTYPE html>
{% load static %}
