<!doctype html>
{% load static general_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Coffee Source">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}{% endblock title %} | Coffee Source</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet" type='text/css'>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type='text/css'>
    {% block css %}{% endblock %}
  </head>
  <body>
    {% get_last_ecoinstant_entry as last_ecoinstant_entry %}
    <nav class="navbar-dark fixed-top bg-dark">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
          <a class="navbar-brand" href="/">Coffee Source</a>
        </div>

        <div class="col-md-8 col-sm-12 col-xs-12 text-center">
          <a href="{{ last_ecoinstant_entry.url }}" target="_blank">{{ last_ecoinstant_entry.title }}</a>
        </div>
      </div>
    </nav>

    <main role="main">
      <div class="jumbotron vertical-center">
        <div class="container">
            {% block jumbotron %}{% endblock jumbotron %}
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <nav class="hidden-xs-down bg-faded sidebar">
              <ul class="nav nav-pills flex-column SideNavBar">
                <li class="nav-item">
                  <a class="nav-link {% if easy_backlink %}active{% endif %}" href="/">Easy backlink</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link {% if images_backlink %}active{% endif %}" href="{% url 'accounts:images_backlink' %}">Easy backlinking images</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link {% if selfie_contest %}active{% endif %}" href="{% url 'accounts:pepper_selfie_contest' %}">@papa-pepper selfie album</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link {% if training_grounds %}active{% endif %}" href="{% url 'accounts:training_grounds' %}">Training Grounds</a>
                </li>
                
              </ul>
            </nav>
          </div>

          <div class="col-md-9 col-sm-12 col-xs-12">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
    </main>

    <footer class="container">
      <p>&copy; Coffee Source</p>
    </footer>

    <script src="{% static 'js/libs/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/libs/popper.min.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
