<!doctype html>
{% load static general_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Coffee Source">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}{% endblock title %} | Coffee Source</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
    {% get_last_ecoinstant_entry as last_ecoinstant_entry %}
    <nav class="navbar-dark fixed-top bg-dark"">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <a class="navbar-brand" href="/">Coffee Source</a>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <a href="{{ last_ecoinstant_entry.url }}" target="_blank">{{ last_ecoinstant_entry.title }}</a>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
        <form action="{% url 'accounts:username_search_form' %}" method="post" class=" form-inline my-2 my-lg-0">
          {% csrf_token %}

          <span class="CSHeaderAt">@</spa><input class="form-control mr-sm-2" type="text" required placeholder="Search Steem Username" aria-label="Search" name="cs_username_search">

          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
      </div>
    </nav>

    <main role="main">
      {% block content %}{% endblock content %}
    </main>

    <footer class="container">
      <p>&copy; Coffee Source</p>
    </footer>

    <script src="{% static 'js/libs/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/libs/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>

<!DOCTYPE html>
{% load static %}
